name: Deploy Blazor WASM to GitHub Pages

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '10.0.x' # ”кажите вашу версию
    
    - name: Restore dependencies
      run: dotnet restore
    
    - name: Build
      run: dotnet build --configuration Release --no-restore
    
    - name: Publish
      run: dotnet publish --configuration Release --output ./publish --no-build
    
    - name: Fix base href for GitHub Pages
      run: |
        REPO_NAME="${GITHUB_REPOSITORY#*/}"
        sed -i "s|<base href=\"/\" />|<base href=\"/$REPO_NAME/\" />|g" ./output/wwwroot/index.html
    
    - name: Add 404.html for SPA routing
      run: |
        cp ./publish/wwwroot/index.html ./publish/wwwroot/404.html

    - name: Deploy to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: ./publish/wwwroot
        branch: gh-pages
        clean: true